#app_toolbar_container {
    border-radius: 5px;
    padding: 10px 20px;
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.2));
}

#template-html {
    filter: drop-shadow(2px 4px 4px rgba(0, 0, 0, 0.2));
}